In [1]:
[
    {
        "id": 1,
        "name": "Alice",
        "address": {"city": "Seoul", "zip": "12345"},
        "hobbies": ["reading", "traveling"]
    },
    {
        "id": 2,
        "name": "Bob",
        "address": {"city": "Busan", "zip": "67890"},
        "hobbies": ["gaming"]
    }
]

[{'id': 1,
  'name': 'Alice',
  'address': {'city': 'Seoul', 'zip': '12345'},
  'hobbies': ['reading', 'traveling']},
 {'id': 2,
  'name': 'Bob',
  'address': {'city': 'Busan', 'zip': '67890'},
  'hobbies': ['gaming']}]

In [2]:
import json

json_str = '''
[
    {"id": 1, "name": "Alice", "address": {"city": "Seoul", "zip": "12345"}, "hobbies": ["reading", "traveling"]},
    {"id": 2, "name": "Bob", "address": {"city": "Busan", "zip": "67890"}, "hobbies": ["gaming"]}
]
'''

data = json.loads(json_str)
print(data)

[{'id': 1, 'name': 'Alice', 'address': {'city': 'Seoul', 'zip': '12345'}, 'hobbies': ['reading', 'traveling']}, {'id': 2, 'name': 'Bob', 'address': {'city': 'Busan', 'zip': '67890'}, 'hobbies': ['gaming']}]

* 중첩 dict 펼치기

In [4]:
import pandas as pd

df = pd.json_normalize(data)
print(df)

   id   name               hobbies address.city address.zip
0   1  Alice  [reading, traveling]        Seoul       12345
1   2    Bob              [gaming]        Busan       67890

* 리스트 분리

In [5]:
import pandas as pd

df = pd.json_normalize(data)
df = df.explode("hobbies")  # 리스트 → 여러 행으로
print(df)

   id   name    hobbies address.city address.zip
0   1  Alice    reading        Seoul       12345
0   1  Alice  traveling        Seoul       12345
1   2    Bob     gaming        Busan       67890

* csv로 저장

In [6]:
df.to_csv("result.csv", index=False, encoding="utf-8")
df

   id   name    hobbies address.city address.zip
0   1  Alice    reading        Seoul       12345
0   1  Alice  traveling        Seoul       12345
1   2    Bob     gaming        Busan       67890