## 201~210

In [1]:
def print_coin():
    print("비트코인")

In [3]:
print_coin()

비트코인

In [6]:
for i in range(100):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [9]:
def print_coin():
    for i in range(100):
        print("비트코인")

In [10]:
hello()
def hello():
    print("Hi")
    
#함수가 정의 되기 전에 호출 했기 때문에 Error

NameError: name 'hello' is not defined

In [11]:
# A
# B
# C
# A
# B



def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

In [12]:
# A
# C
# B

print("A")

def message() :
    print("B")

print("C")
message()

A
C
B

In [13]:
# A
# C
# B
# E
# D

print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

A
C
B
E
D

In [14]:
# B
# A

def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

B
A

In [15]:
# B
# C
# B
# C
# B
# C
# A

def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

## 211~220

In [16]:
# 안녕
# Hi

def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [18]:
# 7
# 15

def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

In [19]:
def 함수(문자열) :
    print(문자열)
    
#함수를 호출할 때 하나의 파라미터를 입력해야함

In [20]:
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
 
# 함수를 호출 할때 문자열과 숫자를 입력해서 문자열과 숫자는 더할 수 없다는 에러발생

TypeError: can only concatenate str (not "int") to str

In [21]:
def print_with_smile(string):
    print(string + ":D")

In [22]:
print_with_smile("안녕하세요")

안녕하세요:D

In [23]:
def print_upper_price(price):
    print(price * 1.3)

In [24]:
def print_sum(a,b):
    print(a + b)

In [25]:
def print_arithmetic_operation(a,b):
    print(a, "+", b, "=", a + b)
    print(a, "-", b, "=", a - b)
    print(a, "*", b, "=", a * b)
    print(a, "/", b, "=", a / b)

In [26]:
print_arithmetic_operation(3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [27]:
def print_max(a, b, c):
    max_val = 0
    if a > max_val :
        max_val = a
    if b > max_val :
        max_val = b
    if c > max_val :
        max_val = c
    print(max_val)

In [30]:
print_max(3,6,2)

6

## 221~230

In [31]:
def print_reverse(string):
    print(string[::-1])

In [33]:
print_reverse("python")

nohtyp

In [39]:
def print_score(score):
    print(sum(score)/len(score))

In [40]:
print_score([1,2,3])

2.0

In [49]:
def print_even (my_list) :
    for v in my_list :
        if v % 2 == 0 :
            print(v)

In [50]:
print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [53]:
def print_keys(dic):
    for keys in dic.keys():
        print(keys)

In [54]:
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [2]:
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

In [3]:
def print_value_by_key (my_dict,key):
    print(my_dict[key])

In [5]:
print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

In [7]:
def print_5xn(line):
    chunk_num = int(len(line) / 5)
    for x in range(chunk_num + 1) :
        print(line[x * 5: x * 5 + 5])

In [8]:
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [9]:
def print_mxn(line, num):
    chunk_num = int(len(line) / num)
    for x in range(chunk_num + 1) :
        print(line[x * num: x * num + num])

In [11]:
print_mxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [14]:
def calc_monthly_salary(pay):
    monthly_pay = int(pay / 12)
    return monthly_pay

In [15]:
calc_monthly_salary(12000000)

1000000

In [16]:
# 왼쪽: 100
# 오른쪽: 200

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

In [17]:
# 왼쪽: 200
# 오른쪽: 100

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

## 231~240

In [19]:
# 에러
# 함수 내부에서 사용한 변수는 함수 밖에서 사용 불가 

def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)

NameError: name 'result' is not defined

In [22]:
def n_plus_1 (n) :
    result = n + 1
    return result

print(n_plus_1(3))

4

In [23]:
def make_url(string):
    url = "www."+"string"+".com"
    return url

In [24]:
make_url("naver")

'www.string.com'

In [26]:
def make_list(string):
    my_list = []
    for i in string:
        my_list.append(i)
    return my_list

In [27]:
make_list("abcd")

['a', 'b', 'c', 'd']

In [28]:
def pickup_even(items):
    result = []
    for item in items:
        if item % 2 == 0:
            result.append(item)
    return result

In [29]:
pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [30]:
def convert_int(string):
    return int(string.replace(",",''))

In [31]:
convert_int("1,234,567")

1234567

In [32]:
# 14 -> 18 -> 22

def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

22

In [33]:
# 22

def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

22

In [34]:
# 140

def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

In [37]:
# 16

def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

16

In [38]:
# 28

def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

28