# ğŸ  House Prices EDA ì‹¤ìŠµ (ë¬¸ì œìš©)

ì´ ë…¸íŠ¸ë¶ì€ Kaggle House Prices ë°ì´í„°ì…‹(`House Prices - Advanced Regression Techniques.csv`)ìœ¼ë¡œ
íƒìƒ‰ì  ë°ì´í„° ë¶„ì„(EDA)ì„ ë‹¨ê³„ë³„ë¡œ ì—°ìŠµí•˜ê¸° ìœ„í•œ ë¬¸ì œì§‘ì…ë‹ˆë‹¤.

í¬í•¨ëœ ë‚´ìš© (ê°•ì˜ì•ˆ ì „ì²´ íë¦„ ë°˜ì˜):
1. ë°ì´í„° ë¡œë“œ & êµ¬ì¡° íŒŒì•…
2. ê²°ì¸¡ì¹˜ íƒìƒ‰
3. ìˆ˜ì¹˜í˜• ë³€ìˆ˜ ë¶„ì„ (ë¶„í¬ / íˆìŠ¤í† ê·¸ë¨ / boxplot)
4. ë²”ì£¼í˜• ë³€ìˆ˜ ë¶„ì„ (countplot / í‰ê·  íƒ€ê¹ƒ ë¹„êµ)
5. íƒ€ê¹ƒ(SalePrice) ë¶„í¬ì™€ ë¡œê·¸ë³€í™˜
6. ì£¼ìš” ë³€ìˆ˜ ê°„ ê´€ê³„ ì‹œê°í™” (ì‚°ì ë„, jointplot ìŠ¤íƒ€ì¼)
7. ìƒê´€ê´€ê³„ ë¶„ì„ & íˆíŠ¸ë§µ
8. ì´ìƒê°’ í™•ì¸
9. ë³€ìˆ˜ ë³€í™˜ê³¼ ë¹„êµ (ì˜ˆ: log ë³€í™˜ í›„ ìƒê´€ ë³€í™”)
10. ì¸ì‚¬ì´íŠ¸ ìš”ì•½(ì„œìˆ í˜•)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(style='whitegrid')
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False

df = pd.read_csv("./data/05_House Prices - Advanced Regression Techniques.csv")
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

## 1ï¸âƒ£ ë°ì´í„° êµ¬ì¡° íŒŒì•…
- ë°ì´í„°ì˜ í–‰/ì—´ ìˆ˜(`shape`)ë¥¼ í™•ì¸í•˜ì„¸ìš”.
- `info()`ë¡œ ê° ì»¬ëŸ¼ì˜ ìë£Œí˜•ê³¼ ê²°ì¸¡ ì—¬ë¶€ë¥¼ í™•ì¸í•˜ì„¸ìš”.
- `describe()`ë¡œ ìˆ˜ì¹˜í˜• ë³€ìˆ˜ë“¤ì˜ ê¸°ë³¸ í†µê³„ë¥¼ í™•ì¸í•˜ì„¸ìš”.
- `SalePrice`ì˜ ê¸°ë³¸ í†µê³„ë¥¼ ë”°ë¡œ ì¶œë ¥í•˜ì„¸ìš”.

In [3]:
# TODO: df.shape, df.info(), df.describe(), df['SalePrice'].describe() ë“±ì„ ì´ìš©í•´ êµ¬ì¡°/í†µê³„ í™•ì¸
df.shape

(1460, 81)

In [5]:
df.info()
# info -> ê²°ì¸¡ì¹˜ ìˆëŠ” ì§€ í™•ì¸, ê° ì»¬ëŸ¼ì˜ íƒ€ì…ì´ ë­”ì§€ í™•ì¸

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [6]:
df.describe()
# ìˆ«ìë“¤ì˜ í†µê³„ë¥¼ ë³´ê³ , countë¡œ ê²°ì¸¡ì¹˜ ë‹¤ì‹œ í™•ì¸í•˜ë©° maxë‚˜ mean vs 50%ë¥¼ ë¹„êµí•´ë³´ê¸°

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [7]:
df['SalePrice'].describe()

count      1460.000000
mean     180921.195890
std       79442.502883
min       34900.000000
25%      129975.000000
50%      163000.000000
75%      214000.000000
max      755000.000000
Name: SalePrice, dtype: float64

## 2ï¸âƒ£ ê²°ì¸¡ì¹˜ íƒìƒ‰
- ê° ì»¬ëŸ¼ë³„ ê²°ì¸¡ì¹˜ ê°œìˆ˜ë¥¼ ê³„ì‚°í•˜ê³ , ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” ì»¬ëŸ¼ë§Œ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•´ì„œ ìƒìœ„ 15ê°œë¥¼ í‘œì‹œí•˜ì„¸ìš”.
- ê²°ì¸¡ì¹˜ ë¹„ìœ¨(%)ë„ ê³„ì‚°í•´ì„œ ê°™ì´ í™•ì¸í•˜ì„¸ìš”.
- ê²°ì¸¡ì¹˜ê°€ íŠ¹íˆ ë§ì€ ì»¬ëŸ¼ì€ ì–´ë–¤ ì˜ë¯¸ì˜ ë³€ìˆ˜ì¸ì§€(ì˜ˆ: ì°¨ê³  ì—†ìŒ ë“±) ì£¼ì„ìœ¼ë¡œ ë©”ëª¨í•˜ì„¸ìš”.

In [ ]:
# TODO: ê²°ì¸¡ì¹˜ ê°œìˆ˜ì™€ ë¹„ìœ¨ì„ ê³„ì‚°í•˜ê³  ìƒìœ„ 15ê°œ ì»¬ëŸ¼ì„ í™•ì¸í•˜ì„¸ìš”.

In [14]:
miss_counts = df.isnull().sum()
miss_counts

#df.isnull().sum() : 81ê°œ ì»¬ëŸ¼ì˜ ê²°ì¸¡ì¹˜ë¥¼ ë‹¤ ì°¾ì•˜ì§€ë§Œ, ì¤‘ê°„ ìƒëµ

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [16]:
miss_counts = miss_counts[miss_counts > 0]
# miss_counts[miss_counts > 0] : ê²°ì¸¡ì¹˜ 0ê°œ ì´ˆê³¼ì¸ ê²ƒë§Œ í•„í„°ë§í•´ì„œ ìˆ¨ê²¨ì ¸ ìˆë˜ ê²ƒë“¤ê¹Œì§€ ì‹¹ ë³´ì—¬ì¤Œ

In [32]:
miss_counts = miss_counts.sort_values(ascending=False)
print(miss_counts.head(15))

PoolQC          1453
MiscFeature     1406
Alley           1369
Fence           1179
MasVnrType       872
FireplaceQu      690
LotFrontage      259
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
BsmtExposure      38
BsmtFinType2      38
BsmtQual          37
dtype: int64

In [23]:
total_rows  = len(df)

In [30]:
miss_percet = (miss_counts / total_rows) * 100
print(miss_percet)

PoolQC          99.520548
MiscFeature     96.301370
Alley           93.767123
Fence           80.753425
MasVnrType      59.726027
FireplaceQu     47.260274
LotFrontage     17.739726
GarageType       5.547945
GarageYrBlt      5.547945
GarageFinish     5.547945
GarageQual       5.547945
GarageCond       5.547945
BsmtExposure     2.602740
BsmtFinType2     2.602740
BsmtQual         2.534247
BsmtCond         2.534247
BsmtFinType1     2.534247
MasVnrArea       0.547945
Electrical       0.068493
dtype: float64

In [33]:
# ê²°ì¸¡ì¹˜ê°€ ê°€ì¥ ë§ì€ ì»¬ëŸ¼ :PoolQC 
# ìˆ˜ì˜ì¥ ì—†ìŒ

## 3ï¸âƒ£ íƒ€ê¹ƒ ë³€ìˆ˜(SalePrice) ë¶„í¬
- `SalePrice`ë¥¼ íˆìŠ¤í† ê·¸ë¨ê³¼ KDE(ë°€ë„ê³¡ì„ )ë¡œ ì‹œê°í™”í•˜ì„¸ìš”.
- ë°•ìŠ¤í”Œë¡¯(boxplot)ìœ¼ë¡œë„ ì‹œê°í™”í•˜ì—¬ ì´ìƒì¹˜ì²˜ëŸ¼ ë³´ì´ëŠ” í¬ì¸íŠ¸ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ì„¸ìš”.
- ì™œë„ê°€ ìˆëŠ”ì§€(skew) `df['SalePrice'].skew()`ë¡œ í™•ì¸í•˜ì„¸ìš”.

In [35]:
df['SalePrice'].skew()

np.float64(1.8828757597682129)

In [36]:
for col in df['SalePrice']:
    plt.figure()
    sns.histplot(df[col])
    plt.show()

KeyError: 208500

In [ ]:
# TODO:
# SalePrice ë¶„í¬ë¥¼ hist+KDEë¡œ ì‹œê°í™”í•˜ê³  boxplot ì‹œê°í™”, skew ê³„ì‚°

## 4ï¸âƒ£ ì£¼ìš” ìˆ˜ì¹˜í˜• ë³€ìˆ˜ë“¤ì˜ ë¶„í¬
- ì•„ë˜ ë³€ìˆ˜ë“¤ì— ëŒ€í•´ íˆìŠ¤í† ê·¸ë¨ ë˜ëŠ” distplot ìŠ¤íƒ€ì¼ ì‹œê°í™”ë¥¼ ê·¸ë¦¬ì„¸ìš”:
  - `GrLivArea` (ì§€ìƒ ìƒí™œ ë©´ì )
  - `LotArea` (ëŒ€ì§€ ë©´ì )
  - `GarageArea` (ì°¨ê³  ë©´ì )
- ê° ë³€ìˆ˜ì— ëŒ€í•´ `describe()`ì™€ `skew()`ë„ ê°™ì´ í™•ì¸í•˜ì„¸ìš”.
- ì˜¤ë¥¸ìª½ ê¼¬ë¦¬ê°€ ê¸´(ê·¹ë‹¨ì ìœ¼ë¡œ í° ê°’ì´ ìˆëŠ”) ë³€ìˆ˜ëŠ” ë¬´ì—‡ì¸ê°€ìš”?

In [ ]:
# TODO:
# GrLivArea, LotArea, GarageAreaì— ëŒ€í•´ ë¶„í¬ ì‹œê°í™”ì™€ describe(), skew()ë¥¼ ì¶œë ¥í•˜ì„¸ìš”.

## 5ï¸âƒ£ ë²”ì£¼í˜• ë³€ìˆ˜ ë¶„ì„
- ë‹¤ìŒ ë²”ì£¼í˜• ë³€ìˆ˜ ì¤‘ í•˜ë‚˜ë¥¼ ì„ íƒí•˜ì„¸ìš”: `Neighborhood` (ë™ë„¤) ë˜ëŠ” `OverallQual` (ì „ë°˜ì  í’ˆì§ˆ ì ìˆ˜)
  (ì°¸ê³ : OverallQualì€ ì‚¬ì‹¤ìƒ ì •ìˆ˜í˜• ë“±ê¸‰ì´ì§€ë§Œ, í’ˆì§ˆ ì¹´í…Œê³ ë¦¬ì²˜ëŸ¼ ë‹¤ë¤„ë„ ì¢‹ìŠµë‹ˆë‹¤.)
- í•´ë‹¹ ë³€ìˆ˜ë³„ë¡œ `SalePrice`ì˜ í‰ê· ì„ ê³„ì‚°í•œ ë’¤ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•´ ìƒìœ„ 10ê°œë¥¼ ë³´ì—¬ì£¼ì„¸ìš”.
- barplotìœ¼ë¡œ ì‹œê°í™”í•˜ì„¸ìš”.
- ì–´ë–¤ ë²”ì£¼ê°€ ì§‘ê°’ì´ íŠ¹íˆ ë†’ì€ì§€ í•´ì„ì„ ì ìœ¼ì„¸ìš”.

In [ ]:
# TODO:
# Neighborhood ë˜ëŠ” OverallQualì„ ê¸°ì¤€ìœ¼ë¡œ í‰ê·  SalePriceë¥¼ êµ¬í•´ barplotìœ¼ë¡œ ì‹œê°í™”í•˜ì„¸ìš”.

## 6ï¸âƒ£ ë¡œê·¸ ë³€í™˜ìœ¼ë¡œ ë¶„í¬ ì•ˆì •í™”í•˜ê¸°
- `SalePrice`ì— ë¡œê·¸ ë³€í™˜í•œ ì»¬ëŸ¼ `SalePrice_log = np.log1p(SalePrice)`ë¥¼ ë§Œë“œì„¸ìš”. (`np.log1p`ëŠ” log(1+x))
- ì›ë³¸ `SalePrice`ì™€ `SalePrice_log`ì˜ íˆìŠ¤í† ê·¸ë¨ì„ ë‚˜ë€íˆ ë¹„êµí•´ì„œ ì™œë„(skew)ê°€ ì¤„ì–´ë“œëŠ”ì§€ í™•ì¸í•˜ì„¸ìš”.
- ë‘ ë³€ìˆ˜ì˜ skew ê°’ì„ ê°ê° ì¶œë ¥í•˜ì„¸ìš”.

In [ ]:
# TODO:
# SalePrice_logë¥¼ ë§Œë“¤ê³  ì›ë³¸ vs ë¡œê·¸ ë³€í™˜ í›„ ë¶„í¬ë¥¼ íˆìŠ¤í† ê·¸ë¨ìœ¼ë¡œ ë¹„êµ, skewë„ ì¶œë ¥í•˜ì„¸ìš”.

## 7ï¸âƒ£ ì£¼ìš” ë³€ìˆ˜ì™€ SalePriceì˜ ê´€ê³„
- `GrLivArea`(ì§€ìƒ ìƒí™œ ë©´ì ) vs `SalePrice` ì‚°ì ë„ë¥¼ ê·¸ë¦¬ì„¸ìš”.
- `TotalBsmtSF`(ì§€í•˜ì‹¤ ì´ ë©´ì ) vs `SalePrice`ë„ ì‚°ì ë„ë¡œ ê·¸ë ¤ë³´ì„¸ìš”.
- ê°ê°ì˜ ê·¸ë˜í”„ì—ì„œ 'ë©´ì ì´ í´ìˆ˜ë¡ ë¹„ì‹¸ì§€ëŠ” ê²½í–¥'ì´ ë³´ì´ëŠ”ì§€ ì„¤ëª…í•˜ì„¸ìš”.
- ê°€ëŠ¥í•˜ë‹¤ë©´ íšŒê·€ì„ (ì¶”ì„¸ì„ )ì„ ì¶”ê°€í•´ë³´ì„¸ìš” (`sns.regplot`).

In [ ]:
# TODO:
# GrLivArea vs SalePrice, TotalBsmtSF vs SalePrice ì‚°ì ë„(+íšŒê·€ì„ )ë¥¼ ê·¸ë¦¬ê³  ê²½í–¥ì„ ì„¤ëª…í•˜ì„¸ìš”.

## 8ï¸âƒ£ ìƒê´€ê´€ê³„ ë¶„ì„
- ìˆ˜ì¹˜í˜• ë³€ìˆ˜ë“¤ ì¤‘ ì§‘ê°’ê³¼ ê´€ë ¨ ìˆì–´ ë³´ì´ëŠ” ì£¼ìš” ë³€ìˆ˜ë§Œ ë½‘ì•„ ìƒê´€ê³„ìˆ˜ë¥¼ ê³„ì‚°í•˜ì„¸ìš”.
  ì˜ˆ: `SalePrice`, `GrLivArea`, `TotalBsmtSF`, `GarageArea`, `YearBuilt`, `OverallQual`
- ì´ë“¤ë§Œ ëª¨ì€ DataFrameìœ¼ë¡œ ìƒê´€í–‰ë ¬(corr())ì„ ë§Œë“¤ê³  íˆíŠ¸ë§µ(heatmap)ìœ¼ë¡œ ì‹œê°í™”í•˜ì„¸ìš”.
- ì–´ë–¤ ë³€ìˆ˜ê°€ SalePriceì™€ ê°•í•˜ê²Œ(+ ë˜ëŠ” -) ìƒê´€ë˜ì–´ ìˆëŠ”ì§€ ì ìœ¼ì„¸ìš”.

In [ ]:
# TODO:
# ì£¼ìš” ë³€ìˆ˜ë“¤ë¡œ corr()ì„ êµ¬í•´ heatmapì„ ê·¸ë¦¬ê³ , SalePriceì™€ì˜ ìƒê´€ì´ í° ë³€ìˆ˜ë¥¼ ì°¾ìœ¼ì„¸ìš”.

## 9ï¸âƒ£ ì´ìƒê°’ ê´€ì°°
- `GrLivArea`ê°€ ë§¤ìš° í°ë° `SalePrice`ê°€ ìƒëŒ€ì ìœ¼ë¡œ ë‚®ì€ ì , ë˜ëŠ” `SalePrice`ê°€ ê·¹ë‹¨ì ìœ¼ë¡œ ë†’ì€ ì  ë“±ì„ ì°¾ì•„ë³´ì„¸ìš”.
- ì´ëŸ° ì ë“¤ì€ boxplotì´ë‚˜ ì‚°ì ë„ì—ì„œ ë¬´ì—‡ì²˜ëŸ¼ ë³´ì˜€ë‚˜ìš”?
- ì´ í¬ì¸íŠ¸ë“¤ì„ ê·¸ëŒ€ë¡œ ëª¨ë¸ì— ë„£ì„ì§€, ì œê±°í•˜ê±°ë‚˜ ë³„ë„ë¡œ ë‹¤ë£°ì§€ì— ëŒ€í•œ ì˜ê²¬ì„ ì ìœ¼ì„¸ìš”.

In [ ]:
# TODO:
# ì‚°ì ë„ë¡œ ì´ìƒí•œ ì ë“¤ì„ ë³´ê³ , ê°€ì¥ ë¹„ì‹¼ ì§‘/ê°€ì¥ í° ì§‘ ë“±ì„ ì¶”ì¶œí•´ì„œ ìš”ì•½í•´ë³´ì„¸ìš”.

## ğŸ”Ÿ ìµœì¢… ì¸ì‚¬ì´íŠ¸ ìš”ì•½ (ì„œìˆ í˜•)
ì•„ë˜ ì§ˆë¬¸ì— ëŒ€í•´ ì§§ê²Œ ì •ë¦¬í•˜ì„¸ìš”.
1. ì§‘ê°’(SalePrice)ì— ê°€ì¥ ì˜í–¥ì„ ë§ì´ ì£¼ëŠ” ê²ƒì²˜ëŸ¼ ë³´ì´ëŠ” ìƒìœ„ ìš”ì¸ì€ ë¬´ì—‡ì¸ê°€ìš”?
   (ì˜ˆ: ì£¼ê±°ë©´ì , ì „ë°˜ì  í’ˆì§ˆ ë“±)
2. ì–´ë–¤ ë³€ìˆ˜ë“¤ì€ ë¡œê·¸ ë³€í™˜ ë“± ë¶„í¬ ì•ˆì •í™”ê°€ í•„ìš”í•´ ë³´ì˜€ë‚˜ìš”?
3. ì–´ë–¤ ì´ìƒì¹˜(ì´ˆê³ ê°€ ì£¼íƒ, ì—„ì²­ í° ë©´ì  ë“±)ë¥¼ ì²˜ë¦¬í•˜ê±°ë‚˜ ë”°ë¡œ ë¶„ë¦¬ ê´€ë¦¬í•´ì•¼ í• ê¹Œìš”?
4. ëª¨ë¸ë§(ê°€ê²© ì˜ˆì¸¡)ìœ¼ë¡œ ë„˜ì–´ê°ˆ ë•Œ, ì–´ë–¤ ì „ì²˜ë¦¬(ìŠ¤ì¼€ì¼ë§/ë¡œê·¸ë³€í™˜/ì´ìƒì¹˜ ì œê±°)ë¥¼ ìš°ì„  ì ìš©í•˜ê³  ì‹¶ë‚˜ìš”?

_ì—¬ê¸°ì— ë³¸ì¸ ì¸ì‚¬ì´íŠ¸ë¥¼ ì ìœ¼ì„¸ìš”._