# 변수
* 자료를 담는 택배상자 
* 택배상자에는 자료를 1개만 넣을 수 있다.
* 변수는 영문과 숫자를 조합해서 만들 수 있다.
* 변수명의 시작은 반드시 영문자로 시작 OR \_영문자 로 시작
* 변수명이 숫자로 시작하거나 -같은 특수문자로 시작하면 오류
* **예약어(이미 파이썬에서 사용하고 있는 함수명, 문법용 단어 ex) for, list, if, id)**는 변수명으로 사용할 수 없다.
  * **주의!!** 파이썬에서는 예약어를 써도 변수가 만들어진다.
  * 예약어로 변수를 만들지 않도록 주의!
* 변수명은 스네이크 표기법으로 작성한다. ex) user_name
* a = 1 -> 오른쪽 변수를 왼쪽 변수에 넣는다는 의미

In [1]:
a = 1

In [2]:
print(a)

1

In [3]:
a

1

In [4]:
b = 2

In [5]:
print(b)

2

In [6]:
id(a)

1955704957232

In [8]:
id(b)

1834302925136

In [9]:
#id = 10

In [10]:
#print(id)

10

In [7]:
id(b)

1955704957264

In [8]:
# 변수명 작성하기
adffaddaf124221 = 10

In [9]:
adffaddaf124221

10

In [10]:
10a = 10

SyntaxError: invalid syntax (1883882313.py, line 1)

In [11]:
$a = 1

SyntaxError: invalid syntax (875084040.py, line 1)

In [12]:
-a = 1

SyntaxError: cannot assign to operator (3337602241.py, line 1)

In [13]:
_a = 1

In [14]:
# 변수명을 2단어 이상으로 만들 때는 _로 연결하는 스네이크 표기법을 쓴다.
user_name = "홍길동"
user_name

'홍길동'

In [15]:
# 변수명은 변수명만으로 안에 무엇이 있을지 예측 가능해야 한다. 
all_reviews = "모든 리뷰"

In [16]:
review_one = "리뷰한개"

In [18]:
hap = 0

In [19]:
# 변수 지우기 del
print(hap)

0

In [20]:
del hap

In [21]:
pirnt(hap)

NameError: name 'pirnt' is not defined

여러개의 변수 동시에 만들고 자료 입력하기

In [22]:
a = 1
b = 2

In [23]:
a, b, c = 1,2,3

In [24]:
print(a,b,c)

1 2 3

In [25]:
a, b, c = [5,6,7]

In [26]:
print(a,b,c)

5 6 7

In [27]:
a, b, c = (8, 9, 10)

In [28]:
print(a,b,c)

8 9 10

# 자료형(data type)
## 파이썬의 자료형은 동적으로 변화
* int : 정수(소수점이 없는 숫자)
* float : 실수(소수점이 있는 숫자)
* str : 문자 / 문자열 
* list : 여러개의 자료가 순서대로 저장된 자료형, 모든 자료형을 넣어 만들 수 있음 [자료]
* tuple : list 비슷하나 한 번 만들면 수정이 안됨, 모든 자료형을 넣어 만들 수 있음 (자료)
* dictionary(dict) : key:value 쌍으로 이루어진 자료형, 모든 자료형 넣어 만들 수 있음 {key : value}
* set : 집합자료형, 자료의 중복이 되지 않음 {자료}

# 데이터 타입을 출력하는 함수 tyep(변수)

# 1.정수형 변수(int)

In [30]:
a = 10
print(a)
print(type(a))

10
<class 'int'>

# 2.실수형 변수(float)

In [32]:
b = 3.14
print(b)
print(type(b))

3.14
<class 'float'>

# 3.문자형 변수(str)
* 문자형 데이터는 반드시 따옴표 \', \" 안에 작성해야 한다.
* 문자 : 문자 1개 
* 문자열 : 문자가 여러개 있는 것, **열** 즉, **순서**가 있다.

In [34]:
c = "문"
print(c)

문

In [36]:
c = '문'
print(c)

문

In [37]:
c = "문자열"
print(c)

문자열

# 문자열 인덱싱: 문자열은 순서가 있으므로 변수명 뒤에 대괄호 [번호] 형태로 해당 위치의 문자를 출력/추출 가능

In [38]:
 c

'문자열'

In [39]:
c[1]

'자'

In [40]:
c[0]

'문'

In [41]:
c[2]

'열'

In [42]:
long_char = "문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다. 만약 줄바꿈을 하고 싶다면 \\를 줄바꿈할 곳 끝에 넣고 줄바꿈을 할 수 있다."

In [43]:
print(long_char)

문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다. 만약 줄바꿈을 하고 싶다면 \를 줄바꿈할 곳 끝에 넣고 줄바꿈을 할 수 있다.

In [44]:
long_char2 = "문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다. \
만약 줄바꿈을 하고 싶다면 \\를 줄바꿈할 곳 끝에 넣고 \
줄바꿈을 할 수 있다."

In [45]:
print(long_char2)

문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다. 만약 줄바꿈을 하고 싶다면 \를 줄바꿈할 곳 끝에 넣고 줄바꿈을 할 수 있다.

In [ ]:
long_char3 = "문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다.
만약 줄바꿈을 하고 싶다면 \\를 줄바꿈할 곳 끝에 넣고 
줄바꿈을 할 수 있다."

In [47]:
# 출력시 줄바꿈으로 하고 싶을 때 \n
long_char4 = "문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다. \n \
만약 줄바꿈을 하고 싶다면 \\를 줄바꿈할 곳 끝에 넣고 \n \
줄바꿈을 할 수 있다."

In [48]:
print(long_char4)

문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다.
 만약 줄바꿈을 하고 싶다면 \를 줄바꿈할 곳 끝에 넣고
 줄바꿈을 할 수 있다.

# 이스케이프 문자 없이 줄바꿈하며 입력하고 싶을 때 
# """ """, ''' '''

In [50]:
long_char5 = """문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다. 
만약 줄바꿈을 하고 싶다면 \\를 줄바꿈할 곳 끝에 넣고 
줄바꿈을 할 수 있다."""

In [51]:
print(long_char5)

문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다.
만약 줄바꿈을 하고 싶다면 \를 줄바꿈할 곳 끝에 넣고
줄바꿈을 할 수 있다.

In [52]:
long_char6 = '''문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다. 
만약 줄바꿈을 하고 싶다면 \\를 줄바꿈할 곳 끝에 넣고 
줄바꿈을 할 수 있다.'''

In [53]:
print(long_char6)

문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다.
만약 줄바꿈을 하고 싶다면 \를 줄바꿈할 곳 끝에 넣고
줄바꿈을 할 수 있다.

In [54]:
long_char6

'문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다. \n만약 줄바꿈을 하고 싶다면 \\를 줄바꿈할 곳 끝에 넣고 \n줄바꿈을 할 수 있다.'

# 문자열의 길이 재기 len(문자열/변수)

In [56]:
len("문자열은 아무리 길이가 길어도 한 줄로 입력해야 한다. \n만약 줄바꿈을 하고 싶다면 \\를 줄바꿈할 곳 끝에 넣고 \n줄바꿈을 할 수 있다.")

76

In [58]:
long_char6[11]

'가'

# 문자열의 번호(index)는 길이 - 1
* len의 결과가 76일 경우 인덱스는 0-75번까지

In [59]:
long_char6[75]

'.'

In [60]:
long_char6[76]

IndexError: string index out of range

# 문자의 덧셈, 곱셈
* 문자의 덧셈 : 붙이기
* 문자의 곱셈 : 반복

In [61]:
c = "python"
d = "쉬워요"

In [62]:
print(c, d)

python 쉬워요

In [64]:
e = c + d
print(e)

python쉬워요

In [65]:
# 문자 + 문자2 == 문자문자2
f = c + " " + d
print(f)

python 쉬워요

In [68]:
# 문자 곱셈 == 문자의 반복
a = "*"
b = "Hello world"
print(a*11)
print(b)
print(a*11)

***********
Hello world
***********

# 문자열의 인덱싱과 슬라이싱
* 인덱싱 : 문자열에 앞에서부터 부여된 숫자를 대괄호 안에 넣어서 그 위치의 문자를 출력하는 것. 
  * 변수[숫자]
* 슬라이싱 : 문자열에 부여된 인덱스 번호를 범위로 묶어서 가져오는 것.
  * 변수[시작번호:끝번호+1:간격]

In [77]:
sliceing = "슬라이싱: 문자열에 부여된 인덱스 번호를 범위로 묶어서 가져오는 것."

In [78]:
sliceing[0]

'슬'

In [79]:
sliceing[6:10]

'문자열에'

In [80]:
sliceing[::2]

'슬이:문열 여 덱 호 위 어 져는것'

# 4.리스트 list ***
* 리스트는 [] 안에 정수, 실수, 문자/문자열, 리스트, 튜플, 딕셔너리 를 모두 넣어서 만든다. 
* 리스트는 여러가지 자료가 나열된 형태이므로 순서가 있다.
* 인덱싱, 슬라이싱 가능 
* 자료의 추가/삭제가 가능

In [81]:
a = [1, 3.5, "삼", "사십오", [1,2,3], (4,5,6), {"key": "value"}]

In [82]:
print(a)

[1, 3.5, '삼', '사십오', [1, 2, 3], (4, 5, 6), {'key': 'value'}]

In [83]:
print(a[0])

1

In [84]:
print(a[3])

사십오

In [86]:
print(a[4:7])

[[1, 2, 3], (4, 5, 6), {'key': 'value'}]

In [87]:
print(type(a))

<class 'list'>

In [88]:
print(type(a[0]))

<class 'int'>

In [89]:
print(type(a[1]))

<class 'float'>

In [90]:
print(type(a[3]))

<class 'str'>

In [91]:
print(type(a[5]))

<class 'tuple'>

In [92]:
print(type(a[6]))

<class 'dict'>

# 리스트 안에 리스트/튜플이 있는 경우는 ?

In [93]:
a

[1, 3.5, '삼', '사십오', [1, 2, 3], (4, 5, 6), {'key': 'value'}]

In [95]:
a[3]

'사십오'

In [96]:
a[3][2]

'오'

In [98]:
a[4]

[1, 2, 3]

In [99]:
a[4][2]

3

# 중첩리스트

In [108]:
b = [1, 3.5, '삼', '사십오', [1, 2, [4,5,[7,8,9],10]], (4, 5, 6), {'key': 'value'}]

In [109]:
b[4][2][2][2]

9

# len 함수로 리스트 길이 구하기

In [110]:
len(b)

7

In [111]:
len(b[3])

3

In [112]:
len(b[4])

3

In [113]:
len(b[4][2])

4

# 리스트에 자료 추가하기 .append(자료)
* append로 추가된 자료는 리스트의 가장 마지막에 추가 됨

In [114]:
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'}]

In [115]:
b.append(99)

In [116]:
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99]

In [117]:
b.append(99.999)

In [118]:
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99.999]

In [119]:
b.append(["일", "이", "삼"])

In [120]:
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99.999,
 ['일', '이', '삼']]

In [121]:
b.append((1,2,3))

In [122]:
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99.999,
 ['일', '이', '삼'],
 (1, 2, 3)]

In [125]:
b.append({"key2":"value2"})
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99.999,
 ['일', '이', '삼'],
 (1, 2, 3),
 {'key2': 'value2'}]

In [127]:
del b[9]
b

[1,
 3.5,
 '삼',
 '사십오',
 [1, 2, [4, 5, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99.999,
 {'key2': 'value2'}]

In [131]:
del b[10:12]

In [156]:
b

[1,
 3.5,
 100,
 '사십오',
 [1, 2, [4, 5, [7, 8, 9], 10]],
 (4, 5, 6),
 {'key': 'value'},
 99,
 99.999,
 {'key2': 'value2'}]

# 리스트 자료 수정하기

In [157]:
b[2] = 100 #????????

# 5.튜플 tuple
* 여러가지 자료를 ()안에 넣어서 만드는 자료형 
* 모든 data type의 자료를 넣을 수 있다.
* 한 번 생성하면 수정이 되지 않는다.
* 튜플이 리스트보다 실행 속도가 빠르다.

In [142]:
t = (1,)

In [143]:
t

(1,)

In [144]:
t2 = (2,)
t2

(2,)

In [145]:
print(type(t), type(t2))

<class 'tuple'> <class 'tuple'>

In [147]:
t3 = (1, 2.5, "문", "문자열", [3,4,5], (5,6,7), {'key': 'value'})
t3

(1, 2.5, '문', '문자열', [3, 4, 5], (5, 6, 7), {'key': 'value'})

In [149]:
t3[4][1]

4

In [150]:
t3[0:4]

(1, 2.5, '문', '문자열')

In [152]:
# 튜플은 자료 추가가 안됨
t3.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [153]:
# 튜플은 자료 수정도 안됨
t3[0] = 100

TypeError: 'tuple' object does not support item assignment

In [158]:
# 튜플은 자료 삭제가 안됨
del t3[0]

TypeError: 'tuple' object doesn't support item deletion

# 6.딕셔너리형(dict) JSON {"key" : "value"} ***
* key와 value로 이루어진 데이터형
* json 이라고도 불리며 웹상에서 데이터를 주고 받을 때 주로 사용
* 딕셔너리의 value에는 모든 자료형이 올 수 있음.
* 딕셔너리의 key에는 **list, dict는 올 수 없음.**
* key를 호출하면 value가 출력됨
* 딕셔너리는 순서가 없는 자료형

In [166]:
dict1 = {"이름":"홍길동","나이":33, "키":175.4, "가족":['둘리','또치','도우너']}

In [167]:
print(type(dict1))

<class 'dict'>

In [165]:
print(dict1["이름"], type(dict1["이름"]))

홍길동 <class 'str'>

In [161]:
dict1["나이"]

33

In [162]:
dict1["키"]

175.4

In [163]:
dict1["가족"]

['둘리', '또치', '도우너']

In [168]:
print(dict1["나이"], type(dict1["나이"]))

33 <class 'int'>

In [169]:
print(dict1["키"], type(dict1["키"]))

175.4 <class 'float'>

In [170]:
print(dict1["가족"], type(dict1["가족"]))

['둘리', '또치', '도우너'] <class 'list'>

In [172]:
dict1["가족"][0]

'둘리'

In [173]:
dict2 = {"가족":['둘리','또치','도우너', {"키":[145, 155, 165]}]}

# dict 에서 len은 key의 갯수

In [175]:
len(dict2)

1

In [176]:
dict2['가족']

['둘리', '또치', '도우너', {'키': [145, 155, 165]}]

In [177]:
dict2['가족'][3]

{'키': [145, 155, 165]}

In [178]:
dict2['가족'][3]['키']

[145, 155, 165]

In [179]:
dict2['가족'][3]['키'][1]

155

# 딕셔너리에 자료 추가/삭제하기
* 자료추가
  * 변수명['새로운 key'] = 새 자료 **key가 중복되면 안됨, 중복될 경우 나중 값으로 덮어쓰기 됨**
* 자료삭제
  * del 변수명['key']

In [202]:
dict2

{'가족': ['둘리', '또치']}

In [189]:
dict2['좋아하는 음식'] = ['자장면', '짬뽕', '볶음밥']

In [199]:
dict2

{'가족': ['둘리', '또치']}

In [195]:
del dict2['가족'][2]

In [196]:
dict2

{'가족': ['둘리', '또치']}

In [203]:
del dict2['좋아하는 음식']

KeyError: '좋아하는 음식'

In [201]:
dict2

{'가족': ['둘리', '또치']}

In [204]:
dict2['가족'] = "대가족"

In [205]:
dict2

{'가족': '대가족'}

# 형변환 함수 
* data type을 다른 data type으로 바꾸는 것 
* int, float, str, list, tuple, dict

## int() 숫자나 문자를 정수로 형변환

In [206]:
a = 3.14

In [207]:
print(a, type(a))

3.14 <class 'float'>

In [208]:
print(int(a), type(int(a)))

3 <class 'int'>

In [209]:
b = "3"
print(b, type(b))

3 <class 'str'>

In [210]:
print(int(b), type(int(a)))

3 <class 'int'>

In [211]:
int(a)

3

In [212]:
b

'3'

In [214]:
print(int(b), type(int(a)))

3 <class 'int'>

## float() 정수나, 문자를 실수로 형변환

In [215]:
c = 200
print(c, type(c))

200 <class 'int'>

In [217]:
print(float(c), type(float(c)))

200.0 <class 'float'>

In [220]:
c = float(c)

In [221]:
c

200.0

In [223]:
d = "3.14"
print(d, type(d))

3.14 <class 'str'>

In [227]:
d = float(d)
print(d, type(d))

3.14 <class 'float'>

## str() 숫자나, 다른 자료형을 문자로 변환

In [228]:
a = 10
b = 34.5
c = [1,2,4, "오"]
d = ("육", 7, 8.5, 9)
e = {3 : [1,2,3]}

In [233]:
print(str(a), type(str(a)))
print(str(b), type(str(b)))
print(str(c), type(str(c)))
print(str(d), type(str(d)))
print(str(e), type(str(e)))

10 <class 'str'>
34.5 <class 'str'>
[1, 2, 4, '오'] <class 'str'>
('육', 7, 8.5, 9) <class 'str'>
{3: [1, 2, 3]} <class 'str'>

In [234]:
a

10

In [235]:
str(b)

'34.5'

In [236]:
str(e)

'{3: [1, 2, 3]}'

## list() 튜플이나 문자열로 되어 있는 리스트를 리스트로 변환

In [238]:
list(d)

['육', 7, 8.5, 9]

In [239]:
print(d, list(d), type(list(d)))

('육', 7, 8.5, 9) ['육', 7, 8.5, 9] <class 'list'>

In [242]:
c = str(c)
print(c, type(c))

[1, 2, 4, '오'] <class 'str'>

In [243]:
print(list(c), type(list(c)))

['[', '1', ',', ' ', '2', ',', ' ', '4', ',', ' ', "'", '오', "'", ']'] <class 'list'>

In [244]:
d = list(d)
print(d, type(d))

['육', 7, 8.5, 9] <class 'list'>

In [245]:
d.append("튜플을 리스트로 변환 후 자료 입력")

In [246]:
d

['육', 7, 8.5, 9, '튜플을 리스트로 변환 후 자료 입력']

## tuple() 리스트를

In [247]:
d = tuple(d)
print(d, type(d))

('육', 7, 8.5, 9, '튜플을 리스트로 변환 후 자료 입력') <class 'tuple'>

# 연산자의 종류

## 산술연산자 +, -, *, /, %, //, **

In [249]:
# 덧셈
1 + 1

2

In [250]:
# 뺄셈
3 - 2

1

In [251]:
a = 3
b = 2

In [252]:
a - b

1

In [253]:
# 곱셈
5*6

30

In [254]:
# 나눗셈
10/5

2.0

## 나눗셈을 할 경우 데이터 타입이 정수에서 실수로 바뀐다

In [256]:
# 나눗셈의 결과는 반드시 실수로 나온다.
b /a

0.6666666666666666

In [260]:
a = 5
b = 2

In [262]:
# 나머지 연산자 % 나눈 후 나머지만 출력
# 홀수 짝수 구분시 주로 사용 % 2 == 0 짝수  %2 2 == 1 홀수
# 베수를 구할 때 사용 % == 0 3의 배수, &7 00 == 0 7의 배수
print(a / b)
print(a % b)
print(6%2)

2.5
1
0

In [265]:
# // 나눗셈 후 몫만 출력4
# // 나눗셈 후 몫만 출력
print(5//2)

2

In [267]:
# ** 제곱
print(2 ** 7)

128

## 할당연산자 
* =, +=, -=, *=, /=, %=

In [269]:
# = : 오른쪽에 있는 자료를 왼쪽 변수에 집어 넣는 할당 연산자 
a = 10
a

10

In [270]:
# b = b+10 => b += 10
b += 10
b

12

In [271]:
# b = b - 2 => b -= 2
b -= 2
b

10

In [275]:
# b = b* 3 => b *= 3
b *= 2
b

360

In [276]:
# b = b / 5 => b /=5
b /= 5
b

72.0

In [278]:
# b = b%2 => b %= 2
b %= 2
b

0.0

# 비교연산자
* 같다 ==
* 다르다 !=
* 초과 > 
* 이상 >=
* 미만 <
* 이하 <=
  * 항상 왼쪽에 있는 게 기준

In [279]:
a = 3
b = 3.0
c = 5
d = "Python"
e = 'python'
f = True
g = False

* == 같으면 True, 다르면 False

In [280]:
a == b

True

In [281]:
a == c

False

In [282]:
d == e

False

In [283]:
oct(141)

'8'

In [284]:
f == g

False

* != 같으면 False, 다르면 True

In [285]:
a != b

False

In [286]:
a != c

True

In [287]:
d != e

True

* \> 왼쪽 값이 오른쪽 값과 비교해서 크면 True(초과)
* \< 왼쪽 값이 오른쪽 값과 비교해서 작으면 True(미만)
* \>= 왼쪽 값이 오른쪽 값과 비교해서 크거나 같으면 True(이상)
* \<= 왼쪽 값이 오른쪽 값과 비교해서 작거나 같으면 True(이하)

In [288]:
5 >= 3

True

In [289]:
5 > 3

True

In [290]:
5 < 3

False

In [291]:
5 <= 3

False

In [292]:
5 < 5

False

In [293]:
5 > 5

False

# 논리 연산자 
* and, or, not

* and : 왼쪽과 오른쪽 값 모두 True 일 때 True, 하나라도 False면 False

In [294]:
# True and True
3 == 3 and 5 > 3

True

In [295]:
# True and False
3 == 3 and 5 < 3

False

In [296]:
# False and True
3 < 3 and 5 > 3

False

In [297]:
# False and False
3 < 3 and 5 < 3

False

* or 왼쪽이나 오른쪽 중에 하나라도 True 면 True, 둘 다 False 일때만 False

In [298]:
# True or True
3 == 3 or 5 > 3

True

In [299]:
# True or False
3 == 3 or 5 < 3

True

In [300]:
# False and False
3 > 3 or 5 < 3

False

* not : 값을 반대로 뒤집음 True => False, False => True

In [301]:
not True

False

In [302]:
not False

True

In [303]:
not 3 > 3 and not 5 < 3

True

* not, and, or의 순위 
* not > and > or

In [305]:
# False and False or True
not True and False or not False

True

In [306]:
# True and True
10 == 10 and 10 != 5

True

# 식별연산자
* is, is no(data type까지 같은지 비교)

In [307]:
print(a)
print(b)
print(c)

3
3.0
5

In [309]:
# ==는 값만 같으면 True 처리, is는 값이 같아도 data type 다르면 False
print(a == b)
print(a is b)

True
False

In [310]:
d = 3

In [311]:
# a 와 d 모두 int 3이기 때문에 True
print(a is b)

False

In [312]:
# is not 은 둘이 다르면 True
print(a is not b)

True

* 멤버 연산자
* in, not in
* list나 Tuple, dict 안에 원하는 값이 있는지 찾을 때 사용

In [313]:
mem = [1,2,3,4,5,"육"]

In [314]:
3 in mem

True

In [317]:
6 in mem

False

In [319]:
6 not in mem

True

In [320]:
3 not in mem

False

# 문자열 함수 .replace("찾을값", "바꿀값")

In [321]:
c = "010-1111-2222"
c

'010-1111-2222'

In [323]:
c.replace("-", ".")

'010.1111.2222'