# 딕셔너리 사용하기
* dict타입, json 타입이라고도 함
* web에서 자료를 주고 받을 때 주로 사용하는 형식(api)
* key : value 쌍으로 이루어진 자료형
* key를 호출하면 value가 나온다.
* key에는 list, dict를 제외한 자료형이 올 수 있다. 
* value에는 모든 자료형이 올 수 있다.

# 딕셔너리 만들기
* 중괄호 안에 key : value 쌍으로 만든다.
* 빈 딕셔너리 생성 가능 {}
* dict()함수를 이용해서 대량의 딕셔너리 생성 가능

In [1]:
d = {'년월' : '20250924', "국가" : "미국", "방문자수" : 1000}
d

{'년월': '20250924', '국가': '미국', '방문자수': 1000}

In [2]:
d['년월']

'20250924'

In [3]:
d2 = {}
print(d2, type(d2))

{} <class 'dict'>

# dict key의 자료형
* **list, dict를 제외**한 나머지 자료형으로 만듦
* 정수, 실수, 문자열, 블린(True, False), Tuple

In [6]:
d3 = {'백' : 100, 100 : "백", 3.5 : [3.5, 3.7], False : 0, (0, "서울") : "강남구"}
d3

{'백': 100, 100: '백', 3.5: [3.5, 3.7], False: 0, (0, '서울'): '강남구'}

In [5]:
d3 = {'백' : 100, 100 : "백", 3.5 : [3.5, 3.7], False : 0, (0, "서울") : "강남구", [1,2] : 123}
d3
# key에 list나 dict가 오면 에러가 난다

TypeError: unhashable type: 'list'

In [7]:
# 문자열 키
d3['백']

100

In [8]:
# 정수 키
d3[100]

'백'

In [9]:
# 실수 키
d3[3.5]

[3.5, 3.7]

In [11]:
d3[False]

0

In [12]:
# tuple 키
d3[(0, "서울")]

'강남구'

# 딕셔너리 value의 자료형
* value는 모든 자료형이 올 수 있다.

In [13]:
d4 = {"정수" : 100, "실수" : 3.5, "문자열" : "딕셔너리의 값",
     "리스트" : [1,2,3,4], "튜플" : (5,6,7,8),
     "딕셔너리" : {'key' : 'value'},
     "블린" : True}
d4

{'정수': 100,
 '실수': 3.5,
 '문자열': '딕셔너리의 값',
 '리스트': [1, 2, 3, 4],
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True}

In [14]:
d4["정수"]

100

In [15]:
d4["실수"]

3.5

In [16]:
d4["문자열"]

'딕셔너리의 값'

In [17]:
d4["리스트"]

[1, 2, 3, 4]

In [18]:
d4["튜플"]

(5, 6, 7, 8)

In [19]:
d4["블린"]

True

In [20]:
d4["딕셔너리"]

{'key': 'value'}

# 빈 딕셔너리 만들기
* 변수 = {}
* 변수 = dict()

In [21]:
d5 = {}
print(d5, type(d5))

{} <class 'dict'>

In [22]:
d6 = dict()
print(d6, type(d6))

{} <class 'dict'>

# 딕셔너리에 자료 추가하기
* 변수['key'] = value
* 이미 key가 있는 경우에는 자료가 수정됨, 나중에 입력한 자료가 덮어쓰기 됨

In [23]:
d5

{}

In [25]:
d5['번호'] = 0
d5

{'번호': 0}

In [26]:
d5['리스트'] = [1,2,3]
d5

{'번호': 0, '리스트': [1, 2, 3]}

In [27]:
# 이미 키가 있는 경우 나중 값으로 대체된다. 
d5['리스트'] = [1,2,3,4]
d5

{'번호': 0, '리스트': [1, 2, 3, 4]}

In [28]:
d7 = {'번호' : 0, "이름" : "홍길동", "나이" : 35,
      '번호' : 1, "이름" : "둘리", "나이" : 15,}
d7

{'번호': 1, '이름': '둘리', '나이': 15}

# dict 함수를 이용해서 dict 만들기 ***
* dict(key1 = value1, key2 = value2, key3 = value3)
* key 부분에 ""(따옴표)를 사용하지 않는다. 
* key는 모두 문자형으로 변환된다.
* value가 문자형이면 반드시 ""가 필요하다.

In [29]:
dict_ex1 = dict(정수=100, 실수=3.5, 문자="문자열",
               리스트=[1,2,3], 튜플=(4,5,6),
               딕셔너리={'key':'value'})
dict_ex1

{'정수': 100,
 '실수': 3.5,
 '문자': '문자열',
 '리스트': [1, 2, 3],
 '튜플': (4, 5, 6),
 '딕셔너리': {'key': 'value'}}

* dict([(key1, value1), (key2, value2), (key3, value3)])
* 리스트 안에 key, value 쌍으로 된 튜플을 넣어서 만듦
* key는 자료형에 맞춰서 작성

In [30]:
dict_ex2 = dict([(1, 10), (3.5, "3.5"), ("문자열", "문자열입니다."),
                ("list", [1,2,3]), ("tuple", (4,5,6)),
                ("dict", {"key" : "value"})])
dict_ex2

{1: 10,
 3.5: '3.5',
 '문자열': '문자열입니다.',
 'list': [1, 2, 3],
 'tuple': (4, 5, 6),
 'dict': {'key': 'value'}}

In [31]:
dict_ex2[1]

10

In [33]:
dict_ex2[3.5]

'3.5'

* dict(zip([key1, key2, key3], [value1, value2, value3]))
* key 묶음 리스트와 value 묶음 리스트를 zip 함수로 합친 후 dict 생성
* key 묶음의 요소 개수와 value 묶음의 요소 개수가 일치해야함

In [34]:
# zip 함수 예시
for i in [1,2,3]:
    print(i, end=" ")

1 2 3

In [35]:
for i in zip([1,2,3], [4,5,6], [7,8]):
    print(i, end=" ")

(1, 4, 7) (2, 5, 8)

In [37]:
dict_ex3 = dict(zip(['정수', '실수', '문자열'], [10, 12.5, "문자열입니다."]))
dict_ex3

{'정수': 10, '실수': 12.5, '문자열': '문자열입니다.'}

In [39]:
dict_ex3['정수']

10

# 딕셔너리에 값 입력하고, 수정하고 삭제하기

In [61]:
dict_ex2

{1: 10,
 3.5: '3.5',
 '문자열': '문자열입니다.',
 'list': [1, 33, 3, 4],
 'tuple': (4, 5, 6),
 'dict': {'key': 'value'},
 'new key': '새로운 데이터'}

In [62]:
dict_ex2['new key'] = "새로운 데이터"
dict_ex2

{1: 10,
 3.5: '3.5',
 '문자열': '문자열입니다.',
 'list': [1, 33, 3, 4],
 'tuple': (4, 5, 6),
 'dict': {'key': 'value'},
 'new key': '새로운 데이터'}

In [ ]:
# 딕셔너리 안에 있는 list value에 새로운 값 추가, 수정, 삭제

In [63]:
# 정수, 문자열
dict_ex2[1] + float(dict_ex2[3.5])

13.5

In [64]:
dict_ex2['list'].append(4)
dict_ex2['list']

[1, 33, 3, 4, 4]

In [65]:
a = [1,2,3]
a.append(4)
print(a)

[1, 2, 3, 4]

In [66]:
max(dict_ex2['list'])

33

In [67]:
dict_ex2['list'].insert(2,30)
dict_ex2['list']

[1, 33, 30, 3, 4, 4]

In [68]:
dict_ex2['list'][2] = 33

In [88]:
dict_ex2['list'].pop(33)

IndexError: pop index out of range

In [79]:
dict_ex2['list']

[1, 33, 33, 3, 4]

In [80]:
dict_ex2['list'].remove(2)

ValueError: list.remove(x): x not in list

In [59]:
dict_ex2['list']

[1, 33, 3, 4]

In [60]:
dict_ex2

{1: 10,
 3.5: '3.5',
 '문자열': '문자열입니다.',
 'list': [1, 33, 3, 4],
 'tuple': (4, 5, 6),
 'dict': {'key': 'value'},
 'new key': '새로운 데이터'}

In [75]:
dict_ex2['dict']['key2'] = "value2"

In [76]:
dict_ex2['dict']

{'key': 'value', 'key2': 'value2'}

In [77]:
del dict_ex2['dict']['key2']

In [78]:
dict_ex2['dict']

{'key': 'value'}

In [81]:
# pop()을 이용해서 삭제
dict_ex2

{1: 10,
 3.5: '3.5',
 '문자열': '문자열입니다.',
 'list': [1, 33, 33, 3, 4],
 'tuple': (4, 5, 6),
 'dict': {'key': 'value'},
 'new key': '새로운 데이터'}

In [82]:
dict_ex2.pop('new key')

'새로운 데이터'

In [83]:
dict_ex2

{1: 10,
 3.5: '3.5',
 '문자열': '문자열입니다.',
 'list': [1, 33, 33, 3, 4],
 'tuple': (4, 5, 6),
 'dict': {'key': 'value'}}

In [84]:
dict_ex2.pop('문자열')

'문자열입니다.'

In [85]:
dict_ex2

{1: 10,
 3.5: '3.5',
 'list': [1, 33, 33, 3, 4],
 'tuple': (4, 5, 6),
 'dict': {'key': 'value'}}

In [86]:
# 딕셔너리에서 pop()으로 삭제할 때는 반드시 key를 넣어줘야 한다. 
dict_ex2.pop()

TypeError: pop expected at least 1 argument, got 0

# 딕셔너리 안에 특정 key가 있는지 확인하기
* in, not in

In [90]:
'정수'in dict_ex1

True

In [91]:
'정수2'in dict_ex1

False

# 딕셔너리 안에 key가 몇 개 있는지 확인하기
* len()
* key의 갯수만 출력
* 가장 외부의 key 갯수만 카운트 함, 내부 딕셔너리의 key는 따로 꺼내서 세야함

In [107]:
data = {'info' : [{'name': 'alice','scores' : (95,88,92)},
                 {'name' : 'bob', 'scores' : (78,85,89)}],
       'extra' :  {'hobbies' : ['leading', 'coding'],
                  'location' : ('seoul', 'busan')}
       }

In [108]:
len(data)

2

In [109]:
data['info'][0]

{'name': 'alice', 'scores': (95, 88, 92)}

In [110]:
len(data['info'][0])

2

In [111]:
data['info']

[{'name': 'alice', 'scores': (95, 88, 92)},
 {'name': 'bob', 'scores': (78, 85, 89)}]

In [112]:
data['info'][0]['scores']

(95, 88, 92)

In [113]:
# dict - list - dict - tuple - int
data['info'][0]['scores'][0]

95

# 딕셔너리 함수 사용하기

## setdefault(key, value) 딕셔너리에 자료 추가 ***
* 딕셔너리에 key와 value를 추가
* key가 중복되면 나중에 추가하는 값을 무시함(원래 자료 보존)
* key만 넣고 value를 생략하면 자동으로 'None'이 입력됨

In [114]:
d

{'년월': '20250924', '국가': '미국', '방문자수': 1000}

In [115]:
d['년월'] = '20240924'
d

{'년월': '20240924', '국가': '미국', '방문자수': 1000}

In [116]:
# 기존에 key가 있는 경우 기존 key의 value를 출력하고 새로운 값은 무시
d.setdefault('년월', 20250924)

'20240924'

In [117]:
d

{'년월': '20240924', '국가': '미국', '방문자수': 1000}

In [119]:
# key가 중복되지 않으면 추가됨
d.setdefault('날씨', '맑음')
d

{'년월': '20240924', '국가': '미국', '방문자수': 1000, '날씨': '맑음'}

In [120]:
for i in range(1,11):
    d.setdefault('숫자', []).append(i)

In [121]:
d

{'년월': '20240924',
 '국가': '미국',
 '방문자수': 1000,
 '날씨': '맑음',
 '숫자': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}

# update(key=value)
* 기존에 key가 있는 경우 값을 새로운 값으로 update
* 기존에 key가 없는 경우 새로운 key, value 생성
* key 부분에는 "'를 사용하지 않는다. 
* 기존에 key가 없어서 새로 추가하는 경우 key 부분에는 문자형 key만 올 수 있다. 
* update는 문자형 key만 업데이트 가능

In [122]:
d

{'년월': '20240924',
 '국가': '미국',
 '방문자수': 1000,
 '날씨': '맑음',
 '숫자': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}

In [125]:
d.update(방문자수=500)
d

{'년월': '20240924',
 '국가': '미국',
 '방문자수': 500,
 '날씨': '맑음',
 '숫자': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}

In [126]:
d.update(바람='강함')
d

{'년월': '20240924',
 '국가': '미국',
 '방문자수': 500,
 '날씨': '맑음',
 '숫자': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 '바람': '강함'}

In [128]:
d.update((100, "튜플") ='백')
d
# 문자형 키만 올 수 있다!!!

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2204186940.py, line 1)

In [129]:
d.update(백='백')
d

{'년월': '20240924',
 '국가': '미국',
 '방문자수': 500,
 '날씨': '맑음',
 '숫자': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 '바람': '강함',
 '백': '백'}

In [130]:
d[3] = 300
d

{'년월': '20240924',
 '국가': '미국',
 '방문자수': 500,
 '날씨': '맑음',
 '숫자': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 '바람': '강함',
 '백': '백',
 3: 300}

In [131]:
d.update(3 = '삼백')
d

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2776621779.py, line 1)

# 딕셔너리에서 value를 가져오는 함수 .get()
* 딕셔너리에서 value를 보고 싶을 때는 key를 호출하면 된다.
* 만약 딕셔너리 안에 key가 없는데 호출하는 경우 오류 발생.
* .get('key', "key가 없을 때 출력할 내용") key 없어도 오류 발생 X, 기본값 출력됨
* 딕셔너리 내에 key가 있다가 없다가를 반복하는 경우 오류 방지

In [132]:
d

{'년월': '20240924',
 '국가': '미국',
 '방문자수': 500,
 '날씨': '맑음',
 '숫자': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 '바람': '강함',
 '백': '백',
 3: 300}

In [133]:
d['바람']

'강함'

In [134]:
d['강수량']

KeyError: '강수량'

In [136]:
d.get('강수량', '해당 key 없음')

'해당 key 없음'

# 딕셔너리에서 key, value, (key, value)를 가져오는 함수
* keys() : 딕셔너리에서 key만 출력
* values() : 딕셔너리에서 value만 출력
* items() : 딕셔너리에서 key, value를 튜플 묶음 형태로 출력 (key, value) 
* 위의 3 함수의 결과를 list()로 형변환을 해주면 list처럼 사용가능

In [137]:
data

{'info': [{'name': 'alice', 'scores': (95, 88, 92)},
  {'name': 'bob', 'scores': (78, 85, 89)}],
 'extra': {'hobbies': ['leading', 'coding'], 'location': ('seoul', 'busan')}}

In [142]:
keys = data.keys()
keys

dict_keys(['info', 'extra'])

In [140]:
keys[0]

TypeError: 'dict_keys' object is not subscriptable

In [144]:
keys = list(data.keys())
print(type(data.keys()), type(list(data.keys())), type(keys))
#list로 형변환 해주기

<class 'dict_keys'> <class 'list'> <class 'list'>

In [146]:
keys[0]

'info'

In [148]:
data['info'][0].keys()

dict_keys(['name', 'scores'])

In [151]:
list(data['info'][0].keys())[1]

'scores'

* values

In [153]:
values = data.values()

In [154]:
values = list(values)
values

[[{'name': 'alice', 'scores': (95, 88, 92)},
  {'name': 'bob', 'scores': (78, 85, 89)}],
 {'hobbies': ['leading', 'coding'], 'location': ('seoul', 'busan')}]

In [158]:
values[0][1].values()

dict_values(['bob', (78, 85, 89)])

* items 는 (key, value) 형식으로 출력

In [160]:
data.items()

dict_items([('info', [{'name': 'alice', 'scores': (95, 88, 92)}, {'name': 'bob', 'scores': (78, 85, 89)}]), ('extra', {'hobbies': ['leading', 'coding'], 'location': ('seoul', 'busan')})])

In [162]:
items = list(data.items())
items

[('info',
  [{'name': 'alice', 'scores': (95, 88, 92)},
   {'name': 'bob', 'scores': (78, 85, 89)}]),
 ('extra', {'hobbies': ['leading', 'coding'], 'location': ('seoul', 'busan')})]

In [163]:
items[0]

('info',
 [{'name': 'alice', 'scores': (95, 88, 92)},
  {'name': 'bob', 'scores': (78, 85, 89)}])

In [164]:
items[1]

('extra', {'hobbies': ['leading', 'coding'], 'location': ('seoul', 'busan')})

In [165]:
d

{'년월': '20240924',
 '국가': '미국',
 '방문자수': 500,
 '날씨': '맑음',
 '숫자': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 '바람': '강함',
 '백': '백',
 3: 300}

In [167]:
d.keys()

dict_keys(['년월', '국가', '방문자수', '날씨', '숫자', '바람', '백', 3])

In [168]:
d.values()

dict_values(['20240924', '미국', 500, '맑음', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], '강함', '백', 300])

In [169]:
d.items()

dict_items([('년월', '20240924'), ('국가', '미국'), ('방문자수', 500), ('날씨', '맑음'), ('숫자', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]), ('바람', '강함'), ('백', '백'), (3, 300)])

In [170]:
for key in d.keys():
    print(key)

년월
국가
방문자수
날씨
숫자
바람
백
3

In [173]:
for value in d.values():
    print(value)

20240924
미국
500
맑음
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
강함
백
300

In [174]:
for key, value in d.items():
    print("key:", key, "value:", value)

key: 년월 value: 20240924
key: 국가 value: 미국
key: 방문자수 value: 500
key: 날씨 value: 맑음
key: 숫자 value: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
key: 바람 value: 강함
key: 백 value: 백
key: 3 value: 300

In [175]:
for item in d.items():
    print(item)

('년월', '20240924')
('국가', '미국')
('방문자수', 500)
('날씨', '맑음')
('숫자', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
('바람', '강함')
('백', '백')
(3, 300)