# 반복문 for, while
* 반복문은 동일한 작업을 여러 번 반복해야 할 경우 사용
* for, while 두 종류의 반복문이 있음
* for는 **반복 횟수가 정해져 있는 경우** 사용
* while은 **반복 횟수가 정해져 있지 않은 경우** 사용 **(무한반복)**

# for 반복문: 반복할 횟수가 정해져 있는 경우 
for 변수1, 변수2 in 반복할 객체/자료(문자열, 리스트, 튜플, 딕셔너리):<br>
____반복할 코드

In [1]:
# 숫자 생성 함수 range(시작, 끝+1, step)

In [2]:
# for 문을 이용해서 숫자 1-10 출력
for num in range(1, 11):
    print(num, end=" ")

1 2 3 4 5 6 7 8 9 10

## 반복문에서 사용할 수 있는 자료형

* 문자열

In [3]:
for i in "파이썬은 문자열을 반복문에 넣어서 출력 가능":
    print(i)

파
이
썬
은

문
자
열
을

반
복
문
에

넣
어
서

출
력

가
능

* 리스트/튜플

In [6]:
l1 = [1,2,3, 4.5, "리스트", [1,2,3], (4,5,6), {"key" : "vlaue"}]
t1 = tuple(l1)
print(type(l1), type(t1))
print(l1)
print(t1)

<class 'list'> <class 'tuple'>
[1, 2, 3, 4.5, '리스트', [1, 2, 3], (4, 5, 6), {'key': 'vlaue'}]
(1, 2, 3, 4.5, '리스트', [1, 2, 3], (4, 5, 6), {'key': 'vlaue'})

In [8]:
# 리스트를 반복문에 넣어서 요소를 하나씩 출력
for i in l1:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4.5 <class 'float'>
리스트 <class 'str'>
[1, 2, 3] <class 'list'>
(4, 5, 6) <class 'tuple'>
{'key': 'vlaue'} <class 'dict'>

In [10]:
# 튜플을 반복문에 넣어서 요소를 하나씩 출력
for i in t1:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4.5 <class 'float'>
리스트 <class 'str'>
[1, 2, 3] <class 'list'>
(4, 5, 6) <class 'tuple'>
{'key': 'vlaue'} <class 'dict'>

* 딕셔너리

In [11]:
d = dict(이름="홍길동", 나이=40, 주소="서울", 전화번호="010-1111-1111")
d

{'이름': '홍길동', '나이': 40, '주소': '서울', '전화번호': '010-1111-1111'}

In [13]:
# 딕셔너리는 len을 사용시 가장 상위key의 개수가 출력됨
len(d)

4

In [12]:
# 딕셔너리를 반복문에 넣으면 딕셔너리의 key가 출력됨
for i in d:
    print(i)

이름
나이
주소
전화번호

In [15]:
# key를 이용해 value를 출력
for i in d:
    print(i)
    print(d[i]) # d 에서 i로

이름
홍길동
나이
40
주소
서울
전화번호
010-1111-1111

In [17]:
# 혹시라도 key가 없는 경우
for i in d:
    #print(i)
    print(d.get(i, "key 없음"))

홍길동
40
서울
010-1111-1111

In [20]:
# 딕셔너리 함수인 values()
d.values()
print(type(d.values()))

<class 'dict_values'>

In [21]:
for i in d.values():
    print(i)

홍길동
40
서울
010-1111-1111

In [22]:
# 딕셔너리의 key와 value를 동시에 출력
for i in d.items():
    print(i)

('이름', '홍길동')
('나이', 40)
('주소', '서울')
('전화번호', '010-1111-1111')

In [23]:
# 딕셔너리의 key와 value를 동시에 출력
for k, v in d.items():
    print(f"key: {k}, value: {v}")

key: 이름, value: 홍길동
key: 나이, value: 40
key: 주소, value: 서울
key: 전화번호, value: 010-1111-1111

* for 반복문을 이용해서 1부터 10까지 정수를 더한 합을 출력하세요

In [25]:
print(1+2+3+4+5+6+7+8+9+10)

55

In [27]:
hap = 0 
for num in range(1, 11):
    hap = hap + num # for문 블록은 여기서 끝남
print(hap)

55

* 1에서 50사이의 숫자 중에서 짝수만 더한 합을 구하세요
  * 숫자 1-50 사이로 생성
  * 짝수인지 판별 for문 안쪽에서 if문
  * hap 변수에서 짝수만 합하기
  * 합계 출력하기

In [59]:
hap = 0
for num in range(1, 51):
    #print(num, end=" ") -확인 필수!!!
    if num % 2 == 0:
        hap += num # hap = hap + num
print(hap)

650

In [60]:
hap = 0
for num in range(1, 51):
    #print(num, end=" ") -확인 필수!!!
    if num % 2 == 0:
        hap += num # hap = hap + num
    print(f"hap: {hap}, num: {num}")

hap: 0, num: 1
hap: 2, num: 2
hap: 2, num: 3
hap: 6, num: 4
hap: 6, num: 5
hap: 12, num: 6
hap: 12, num: 7
hap: 20, num: 8
hap: 20, num: 9
hap: 30, num: 10
hap: 30, num: 11
hap: 42, num: 12
hap: 42, num: 13
hap: 56, num: 14
hap: 56, num: 15
hap: 72, num: 16
hap: 72, num: 17
hap: 90, num: 18
hap: 90, num: 19
hap: 110, num: 20
hap: 110, num: 21
hap: 132, num: 22
hap: 132, num: 23
hap: 156, num: 24
hap: 156, num: 25
hap: 182, num: 26
hap: 182, num: 27
hap: 210, num: 28
hap: 210, num: 29
hap: 240, num: 30
hap: 240, num: 31
hap: 272, num: 32
hap: 272, num: 33
hap: 306, num: 34
hap: 306, num: 35
hap: 342, num: 36
hap: 342, num: 37
hap: 380, num: 38
hap: 380, num: 39
hap: 420, num: 40
hap: 420, num: 41
hap: 462, num: 42
hap: 462, num: 43
hap: 506, num: 44
hap: 506, num: 45
hap: 552, num: 46
hap: 552, num: 47
hap: 600, num: 48
hap: 600, num: 49
hap: 650, num: 50

In [61]:
hap = 0
for num in range(1, 51):
    #print(num, end=" ") -확인 필수!!!
    if num % 2 == 0:
        hap += num # hap = hap + num
print(f"hap: {hap}, num: {num}")

hap: 650, num: 50

## 반복문에 사용할 자료를 일부 구간만 사용하기
* 슬라이싱

* 1부터 100까지 숫자를 생성하고 그중에서 30-70까지만 더해서 출력하세요.

In [63]:
# if 조건문을 이용해서 필터링
hap = 0
for num in range(1,101):
    #print(num, end=" ")
    if 30 <= num <= 70:
        hap += num
print(hap)

2050

In [65]:
hap = 0
for num in range(1,101):
    #print(num, end=" ")
    if 30 <= num <= 70:
        hap += num
        print(f"num: {num}, hap: {hap}")

num: 30, hap: 30
num: 31, hap: 61
num: 32, hap: 93
num: 33, hap: 126
num: 34, hap: 160
num: 35, hap: 195
num: 36, hap: 231
num: 37, hap: 268
num: 38, hap: 306
num: 39, hap: 345
num: 40, hap: 385
num: 41, hap: 426
num: 42, hap: 468
num: 43, hap: 511
num: 44, hap: 555
num: 45, hap: 600
num: 46, hap: 646
num: 47, hap: 693
num: 48, hap: 741
num: 49, hap: 790
num: 50, hap: 840
num: 51, hap: 891
num: 52, hap: 943
num: 53, hap: 996
num: 54, hap: 1050
num: 55, hap: 1105
num: 56, hap: 1161
num: 57, hap: 1218
num: 58, hap: 1276
num: 59, hap: 1335
num: 60, hap: 1395
num: 61, hap: 1456
num: 62, hap: 1518
num: 63, hap: 1581
num: 64, hap: 1645
num: 65, hap: 1710
num: 66, hap: 1776
num: 67, hap: 1843
num: 68, hap: 1911
num: 69, hap: 1980
num: 70, hap: 2050

In [66]:
# 슬라이싱 활용
hap = 0
for num in range(1,101)[29:70]:
    #print(num, end=" ")
    hap += num
print(hap)

2050

* 1-100까지 숫자중에서 짝수만 합 구하기 (슬라이싱 이용)

In [68]:
# 
hap = 0
for num in range(1,101)[1::2]:
    #print(num, end=" ") 꼭 프린트해서 확인해보기 !!!
    hap += num
print(hap)

2550

* 1-100까지 숫자를 생성하고 역순으로 출력하세요.

In [71]:
# range 함수에서 숫자를 역순으로 만들기 
for i in range(100,0, -1):
     print(i, end=" ")

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [72]:
# 슬라이싱을 이용한 역인덱싱 ***
for i in range(1,101)[::-1]:
     print(i, end=" ")

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [74]:
# reversed() 함수 사용
for i in reversed(range(1,101)):
     print(i, end=" ")

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [79]:
# sorted(reverse=True) 함수 사용
for i in sorted([1,2,3,4,5], reverse=True):
     print(i, end=" ")

5 4 3 2 1

In [80]:
# sorted(reverse=True) 함수 사용
for i in sorted(range(1,101), reverse=True):
     print(i, end=" ")

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

# enumerate() 반복문에서 자료의 인덱스를 만들어주는 함수

In [81]:
s = "enumerate 함수는 반복문에서 index를 만들어 출력해 주는 함수입니다."

In [82]:
import time

In [85]:
for idx, i in enumerate(s):
    #print(idx, i)
    if idx % 2 == 0: # 인덱스가 짝수번째인 것만 찍어라
        print(i)

e
u
e
a
e
함
는
반
문
서
i
d
x

들

력

는
함
입
다

In [91]:
for idx, i in enumerate(s):
    print(f"{idx+1}/{len(s)} 실행중", end="\r")
    time.sleep(0.1)

In [92]:
for idx, i in enumerate(s):
#    print(f"{idx+1}/{len(s)} 실행중", end="\r")
    print(i)
    time.sleep(0.1)

e
n
u
m
e
r
a
t
e

함
수
는

반
복
문
에
서

i
n
d
e
x
를

만
들
어

출
력
해

주
는

함
수
입
니
다
.

# continue / break
* continue: 코드 실행을 건너 뛰고 반복 계속 진행 
* break: 특정 조건이 되었을 때 반복문 정지

In [98]:
for idx, i in enumerate(s):
    if idx % 2 == 0:
        continue
        print(idx, i)
    else:
        if idx > 19:
            break
            pass
        print(idx, i)

1 n
3 m
5 r
7 t
9
11 수
13
15 복
17 에
19

In [100]:
# 1-100까지 숫자를 생성하고 홀수만 합계를 구하세요.
# 만약에 짝수면 짝수만 모인 리스트를 만들고 출력하세요.
# 숫자가 70을 초과하면 멈추세요.

hap = 0
even = []
for i in range(1, 101):
    if i > 70:
        break
    else:
        if i % 2 != 0:
            hap += i
        else:
            even.append(i)
print(f"홀수의 합: {hap}")
print(f"짝수의 리스트: {even}")

홀수의 합: 1225
짝수의 리스트: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70]

# while: 반복할 횟수가 정해지지 않은 경우 
* 무한반복 가능 
* 무한반복이 되지 않도록 조건식을 잘 짜주는 것이 중요

변수 선언 및 초기화 num = 0<br>
while 조건식:<br>
____반복할 코드<br>
____변수 증가/감소 코드<br>
____반복문이 종료되는 조건 + break

**조건을 잘 줘야함**

* while 문으로 1-10까지 출력하기

In [104]:
i = 1
while i <= 10:
    print(i, end =" ")
    i += 1

1 2 3 4 5 6 7 8 9 10

In [108]:
i = 1
while True:
    print(i, end =" ")
    if i >= 10:
        break
    i += 1

1 2 3 4 5 6 7 8 9 10

In [109]:
i = 1
while True:
    print(i, end =" ")
    if i > 10:
        break
    i += 1

1 2 3 4 5 6 7 8 9 10 11

* 1-50까지 수 중에서 3의 배수이거나 짝수인 수를 찾아서 합계를 출력하세요.

In [117]:
i = 1
hap = 0
list_4s = []
while i <= 50:
    if i % 3 == 0 or i % 2 == 0:
        hap += i 
        print(f"i: {i}, hap: {hap}")
    if i % 4 == 0:
        list_4s.append(i)
    i += 1
print(hap)
print(list_4s)

i: 2, hap: 2
i: 3, hap: 5
i: 4, hap: 9
i: 6, hap: 15
i: 8, hap: 23
i: 9, hap: 32
i: 10, hap: 42
i: 12, hap: 54
i: 14, hap: 68
i: 15, hap: 83
i: 16, hap: 99
i: 18, hap: 117
i: 20, hap: 137
i: 21, hap: 158
i: 22, hap: 180
i: 24, hap: 204
i: 26, hap: 230
i: 27, hap: 257
i: 28, hap: 285
i: 30, hap: 315
i: 32, hap: 347
i: 33, hap: 380
i: 34, hap: 414
i: 36, hap: 450
i: 38, hap: 488
i: 39, hap: 527
i: 40, hap: 567
i: 42, hap: 609
i: 44, hap: 653
i: 45, hap: 698
i: 46, hap: 744
i: 48, hap: 792
i: 50, hap: 842
842
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48]

# while의 무한 반복
* while 뒤의 조건이 True인 경우 무한 반복 
* while문 내에서 if 조건문으로 break를 걸어주어야 멈춤
* True가 되는 조건: True, 1, 정수, 실수, 문자열, list(자료 한 개만?) 등 자료가 들어있는 모든 변수나 자료 
* False가 되는 조건: False, 0, 0.0(실수), "", '', [], (), {}

In [125]:
i = 1
while '': 
    print(i, "무한 반복")
    i += 1

# 중첩 반복문
* 반복문을 2개 이상 겹쳐서 사용
* 시계의 원리와 같음 
* 초 60 -> 1분 60분 -> 1시간 24시간 
* 안쪽 반복문이 끝난 후 바깥쪽 반복문이 실행
* 아날로그 시계의 초침 -> 분침 -> 시침

* 구구단 만들기 2종 중첩 for문으로 작성
* 2단 - 9단 
* 각 단마다 1-9
* 2*1 = 2
* 2*2 = 4

In [1]:
# 2단 - 9단 시침
for num1 in range(2, 10):
#    print(num1)
    pass
    # 분침
    for num2 in range(1, 10):
        print(num2)

1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9

In [4]:
# 2단 - 9단 시침
for num1 in range(2, 10):
#    print(num1)
    pass
    # 분침
    for num2 in range(1, 10):
        print(f"{num1} x {num2} = {num1 * num2}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

* 반복문 3개로 시계 만들기 
* 초: 00-59
* 분: 00-59
* 시: 00-23
import time
time.sleep(0.1)
* 00:00:00 - 23:59:59

In [1]:
import time
for si in range(0, 24):
    for bun in range(0, 60):
        for cho in range(0, 60):
            print(f"{si:02d}:{bun:02d}:{cho:02d}", end="\r") # 02d : 두자리까지 표시하고 부족하면 0으로 표시하라
            time.sleep(1)

KeyboardInterrupt:

## 중첩 반복문을 이용해서 다중 리스트 출력하기

In [1]:
l1 = []

In [10]:
l2 = ["오", 1,2,3,4,5]

In [11]:
l1.append(l2)
l1

[['일', 1, 2, 3, 4, 5],
 ['이', 1, 2, 3, 4, 5],
 ['삼', 1, 2, 3, 4, 5],
 ['사', 1, 2, 3, 4, 5],
 ['오', 1, 2, 3, 4, 5]]

In [20]:
result = []
for i in l1:
    for j in i:
        result.append(j)
result

['일',
 1,
 2,
 3,
 4,
 5,
 '이',
 1,
 2,
 3,
 4,
 5,
 '삼',
 1,
 2,
 3,
 4,
 5,
 '사',
 1,
 2,
 3,
 4,
 5,
 '오',
 1,
 2,
 3,
 4,
 5]