## 01~010

In [1]:
print("Hello World")

Hello World

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

In [8]:
print("신씨가 소리질렀다."" " '"도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [11]:
print("C:\windows")

C:\windows

In [13]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
# 'wn' : 줄바꿈, '/t' : 탭

안녕하세요.
만나서		반갑습니다.

In [14]:
# 오늘은 일요일 (쉼표로 구분)
print("오늘은","일요일")

오늘은 일요일

In [16]:
print("naver;""kakao;""sk;""samsung")

naver;kakao;sk;samsung

In [18]:
print("first", end="");print("second")

firstsecond

In [20]:
print(5/3)

1.6666666666666667

## 011~020

In [21]:
삼성전자 = 50000
총평가금액 = 삼성전자*10
print(총평가금액)

500000

In [23]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [27]:
s = "hello"
t = "python"
print(s +"!", t)

hello! python

In [28]:
print(2+2*3)

8

In [29]:
a = "132"
print(type(a))

<class 'str'>

In [33]:
num_str = "720"
print(int(num_str), type(int(num_str)))

720 <class 'int'>

In [34]:
num = 100
print(str(num), type(str(num)))

100 <class 'str'>

In [36]:
p = "15.79"
print(float(p), type(float(p)))

15.79 <class 'float'>

In [37]:
year = "2020"
print(int(year)-3)  
print(int(year)-2)  
print(int(year)-1)

2017
2018
2019

In [38]:
월 = 48583
총금액 = 월*36
print(총금액)

1748988

## 021~030

In [42]:
letters = 'python'
print(letters[0],letters[2])

p t

In [43]:
license_plate = "24가 2210"
print(license_plate[4:8])

2210

In [46]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [47]:
string = "PYTHON"
print(string[::-1])

NOHTYP

In [65]:
phone_number = "010-1111-2222"
phone_number.replace("-", " ")

'010 1111 2222'

In [50]:
print("010", "2222", "3333", sep="")

01022223333

In [51]:
url = "http://sharebook.kr"
url_split = url.split('.')
print(url_split[-1])

kr

In [52]:
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [53]:
string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

Abcdfe2A354A32A

In [54]:
# abcd
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [55]:
#string = 'abcd'
#string = string.replace('b', 'B')
#print(string)

aBcd

## 031~040

In [56]:
# 34
a = "3"
b = "4"
print(a + b)

34

In [57]:
# HiHiHi
print("Hi" * 3)

HiHiHi

In [58]:
print("-"*80)

--------------------------------------------------------------------------------

In [62]:
t1 = 'python'
t2 = 'java'
print((t1 + ' '+ t2+ ' ')*4)

python java python java python java python java

In [63]:
# %formatting
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [66]:
# format( )
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [67]:
# f-string
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [68]:
상장주식수 = "5,969,782,550"
콤마제거 = 상장주식수.replace(",", "")
print(int(콤마제거), type(int(콤마제거)))

5969782550 <class 'int'>

In [69]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

2020/03

In [71]:
# strip()
data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

## 041~050

In [73]:
ticker = "btc_krw"
ticker = ticker.upper()
print(ticker)

BTC_KRW

In [75]:
ticker = "BTC_KRW"
ticker = ticker.lower()
print(ticker)

btc_krw

In [78]:
# capitalize()
a = "hello"
a = a.capitalize()
print(a)

Hello

In [84]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [83]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [85]:
# split()
a = "hello world"
a.split()

['hello', 'world']

In [86]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [87]:
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [90]:
# rstrip()
data = "039490     "
data = data.rstrip()
print(data)

039490

## 051~060

In [5]:
movie_rank = ["닥터 스트레인지", "스플릿","럭키"]

In [6]:
movie_rank.append("배트맨")
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [7]:
movie_rank.insert(1,"슈퍼맨")
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [8]:
del movie_rank[3]
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [9]:
del movie_rank[2:]
movie_rank

['닥터 스트레인지', '슈퍼맨']

In [10]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

In [12]:
langs = lang1 + lang2
langs

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [15]:
nums = [1, 2, 3, 4, 5, 6, 7]

In [17]:
print("max:",max(nums))
print("min:",min(nums))
nums

max: 7
min: 1

[1, 2, 3, 4, 5, 6, 7]

In [19]:
nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [21]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [25]:
nums = [1, 2, 3, 4, 5]
avg = sum(nums)/len(nums)
avg

3.0

## 061~070

In [32]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
price = price[1:]
price

[100, 130, 140, 150, 160, 170]

In [35]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [39]:
nums[1::2]

[2, 4, 6, 8, 10]

In [41]:
nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

In [44]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [46]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [47]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [50]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [55]:
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
interest

['삼성전자', 'LG전자', 'Naver']

In [60]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

## 071~080

In [62]:
my_variable = ( )
my_variable

()

In [64]:
movie_rank = ("닥터 스트레인지","스플릿","럭키")

In [65]:
my_tuple = (1, )
my_tuple

(1,)

In [ ]:
# tuple 은 element의 값을 변경할 수 없다.
>> t = (1, 2, 3)
>> t[0] = 'a'
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
TypeError: 'tuple' object does not support item assignment

In [ ]:
t = 1, 2, 3, 4
# tuple

In [69]:
t = ('a', 'b', 'c')
t = list(t)
t = ['A','B','C']
t = tuple(t)
t

('A', 'B', 'C')

In [72]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest = list(interest)
interest

['삼성전자', 'LG전자', 'SK Hynix']

In [75]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
interest = tuple(interest)
interest

('삼성전자', 'LG전자', 'SK Hynix')

In [ ]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

# apple banana cake

In [78]:
a = tuple(range(2,100, 2))
a

(2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98)

## 081~090

In [1]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [2]:
*valid_score, _, _ = scores

print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [3]:
a,b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [4]:
a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [5]:
temp = {}
temp

{}

In [7]:
ice = {"메로나":1000, "폴라포": 1200, "빵빠레": 1800}
ice

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [8]:
ice['죠스바']=1200
ice['월드콘']=1500
ice

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [11]:
print("메로나 가격:",ice['메로나'])

메로나 가격: 1000

In [12]:
ice['메로나']=1300
ice

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [13]:
ice.pop('메로나')

1300

In [14]:
ice

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [15]:
>> icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
>> icecream['누가바']
Traceback (most recent call last):
  File "<pyshell#69>", line 1, in <module>
    icecream['누가바']
KeyError: '누가바'
    
# 딕셔너리에 없는 키를 사용해서 인덱싱 하면 에러 발생

SyntaxError: invalid syntax (1150558173.py, line 1)

## 091~100

In [16]:
inventory = {"메로나": [300, 20], 
             "비비빅": [400, 3], 
             "죠스바": [250, 100]}
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [19]:
print(inventory['메로나'][0],"원")

300 원

In [20]:
print(inventory['메로나'][1],"개")

20 개

In [21]:
inventory['월드콘']=500,7

In [22]:
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': (500, 7)}

In [24]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.keys())
ice

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [26]:
values = list(icecream.values())
values

[1200, 1200, 1800, 1500, 1000]

In [27]:
print(sum(icecream.values()))

6700

In [28]:
icecream.update(팥빙수=2700)
icecream.update(아맛나=1000)
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

In [29]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

In [30]:
result = dict(zip(keys, vals))
result

{'apple': 300, 'pear': 250, 'peach': 400}

In [31]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

In [33]:
close_table = dict(zip(date, close_price))
close_table

{'09/05': 10500,
 '09/06': 10300,
 '09/07': 10100,
 '09/08': 10800,
 '09/09': 11000}